<div class="row">
    <div class="col-md-6 offset-3 alert-success">
        <h2>You have successfully registered.</h2>
        <p>You can log in..</p>
        <br />
        <p>Thanks you</p>

    </div>
</div>